@use'../styles/global' as*;

#form-container {
 
    form {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        background-color: #FFFFFF;
        border-radius: 8px;
        width: 400px;
        padding: 15px;
        margin: 100px auto;
        display: flex;
        flex-direction: column;

        label,
        input {
            width:90%;
            height: 30px;
            display: inline-block;
            border-radius: 5px;
            border-color: aliceblue;
            font-size: 18px;
            margin: auto;
        }
        label{
            font-weight: bold;
        }
        input:focus-visible{
            background-color: bisque;
        }
    }
    span{
        margin: 0 auto;
        color: red;
    }
}


#submitBtn {
    display: flex;
    justify-content: center;
    width: 50%;
    font-weight: bold;
    text-align: center;
   padding: 8px;
    margin: 40px auto 10px;
    font-size: 18px;
    &:hover{
        cursor: pointer;
        background-color: #0056b3;
    }
}
